body{

font-family:Arial;

background:#f5f5f5;

}


.container{

max-width:700px;

margin:50px auto;

text-align:center;

}


.chat{

background:white;

padding:20px;

min-height:300px;

border-radius:10px;

text-align:left;

}


.user{

text-align:right;

}


.osa{

text-align:left;

}


input{

width:75%;

padding:12px;

margin-top:20px;

}


button{

padding:12px 20px;

}

